<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Alerta.Aí</title>
  <meta name="description" content="Alerta.Aí">    
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Alerta.Aí" />

  <!-- METATAGS OPENGRAPHICS -->
  <meta property="og:title" content="Alerta.Aí" />
  <meta property="og:type" content="website" />

  <meta name="author" content="Caio Duarte">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  <script src="https://kit.fontawesome.com/3d07b4d01d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <style>
    .div-azul {
      background-color: #0055e4;
    }
    .botao{
    border: solid 1px blue;
    border-radius: 20px;
    color: blue;
    background-color: white;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    }
  </style>
</head>
<body>
  <div class="container">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-collapse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="index.html"><img src="statics/logo.png" class="img-responsive logo" style="width: 30%;"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav nav-pills navbar-right">
            <li><a href="#">Alegrete</a></li>
            <li><a href="#">Itaqui</a></li>
            <li><a href="#">São Borja</a></li>
            <li class="active"><a href="#">Uruguaiana</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav><form>

    <div class="row mt-60">
      <div class="col-md-12 text-center">
        <h1 class="titulo"></h1>
        <p class="subtitulo"><b></b></p>
      </div>  
    </div>

  
  <div class="container">
    <div class="row mt-inicio">
      <div class="col-md-12 text-center">
          <h1><p style="color: #0055e4; font-size:larger;"><b>20 milhões de pessoas são</span></p></h1>
          <h1><p style="color: #0055e4; font-size: larger;"><b>afetadas pelas enchentes anualmente.</b></p></h1>
          <h1><p style="color: darkblue; font-size: larger;"><b>em 2030 serão 54 MILHÕES!</b></p></h1>
          <br>
          <img src="statics/bluenote.png" class="img-responsive" alt="bluenote" style="width: 100%; height: auto;">
          <img src="statics/alerta rio4.png" class="img-responsive" alt="Rio" style="width: 100%; height: auto;">
          <br><h1><p style="color: #0055e4;"><b>Porque cada minuto conta!</b></p></h1>
          <br>
          <img src="statics/cel.png" class="img-responsive" alt="Rio" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>
  <div class="div-azul"></div>
    <div class="row mt-601">
      <div class="col-md-12 text-center">
          <br><h1> <p style="color: #0055e4"><b></b></p></h1>
             <br>
             <img src="statics/final.png" class="img-responsive" alt="Rio" style="width: 100%; height: auto;">
      </div>
    </div>
  </div>
  
  <div>
    <div >
      <div class="col-md-12 text-center">
            <h4><p style="color: black"><b></b></p></h4>
            <img src="statics/fr1.gif" class="img-responsive" alt="~mapa interativo~" style="width: 50%; height: auto; margin: 0 auto;">
          </div>
    </div>
  </div>
  <div>
    <div >
      <div class="col-md-12 text-center">
        <br>
        <a href="URL"><button>EM BREVE NA SUA CIDADE!</button></a>
        </div>
    </div>
  </div>

   

	<div class="row mt-60 mb-40">
		<div class="col-md-12 text-center">
			<h1 class="titulo-cadastro"><b>Cadastre seus contatos para receber nossos avisos.</b></h1>
		</div>
	</div>

	<form class="form-horizontal">
	<div class="row">
		<div class="col-md-5">
			<input class="form-control" type="text" id="whatsapp" name="whatsapp" placeholder="Whatsapp">
		</div>
		<div class="col-md-5">
			<input class="form-control" type="email" id="email" name="email" placeholder="E-mail">
		</div>
		<div class="col-md-2">
			<button class="btn btn-primary btn-lg">ENVIAR</button>
		</div>
	</div>
	</form>
</div>

</div> <!-- /container -->
<footer class="footer text-center mt-60">
  <p>&copy; 2025 Alerta.Aí</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>

</html>